<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="ToastMessage_inner__9r16k">
      <div
        class="IconSticker_icon-sticker__OcaOQ IconStickerColors_red-solid__wXhp_"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="circle-info"
          class="svg-inline--fa fa-circle-info Icon_icon__Rm_O3 Icon_scale-1-5x__PVUOD Icon_padding-medium___wjS_"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
          ></path>
        </svg>
      </div>
      <div class="ToastMessage_text-wrapper__oxVF_">
        <p
          class="TextStyles_root__ESLrv TextSizes_body-medium__vDuC4 TextStyles_regular__lp_31 TextStyles_dm-sans__s1K5W"
        >
          You need to be a guest to access this route
        </p>
      </div>
      <div class="ToastMessage_button-wrapper__MMQaP">
        <button
          aria-label="close"
          tab-index="-1"
          type="button"
          class="Button_button__88E9y Button_pill__9vfK_ ButtonColors_plain-gray__yMyNb ButtonSizes_medium__llgmY ButtonSizes_plain__e16oQ"
          data-focus-visible="false"
        >
          <span class="Button_addon__LEr4y" data-addon="true"
            ><svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="xmark"
              class="svg-inline--fa fa-xmark Icon_icon__Rm_O3 Icon_scale-1-5x__PVUOD Icon_padding-medium___wjS_"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
            >
              <path
                fill="currentColor"
                d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
              ></path></svg
          ></span>
        </button>
      </div>
    </div>
  </body>
</html>
